@if (selectedMovie) {
<div class="bg-gray-900 w-full h-full">
    <div class="flex flex-row justify-start items-center bg-gray-900 rounded gap-1 h-full w-full">
        <div class="flex justify-center items-center flex-shrink-0 w-24 overflow-hidden rounded-l h-full w-[40%]">
            <a href="{{selectedMovie.homepage}}" target="_blank" rel="noopener noreferrer" title="{{ selectedMovie.title }} Poster">
                <img [src]="'https://image.tmdb.org/t/p/original' + selectedMovie.poster_path" alt="{{ selectedMovie.title }}" class="w-full h-full object-cover" />
            </a>
        </div>
        <div class="flex flex-col justify-start items-start h-full w-[60%] p-4 text-lg gap-5">
            <div class="flex flex-col gap-4">
                <h1 class="text-6xl font-semibold">{{selectedMovie.title}}</h1>
                <ul class="flex flex-row justify-start items-center w-full gap-10 text-gray-300">
                    <li>{{selectedMovie.release_date | date: "YYYY" }}</li>
                    <li class="flex flex-row justify-end items-center gap-2">
                        <svg class="w-5 h-5" fill="orange" viewBox="0 0 24 24">
                            <path
                                d="M12 .587l3.668 7.431 8.2 1.192-5.934 5.782 1.4 8.172L12 18.896l-7.334 3.856 1.4-8.172L.132 9.21l8.2-1.192z" />
                        </svg>
                        {{selectedMovie.vote_average | number: '1.1-1' }}/10
                    </li>
                    <li class="">{{selectedMovie.vote_count }} Reviews</li>
                </ul>
            </div>
            <div>
                <p class="text-2xl font-semibold">{{selectedMovie.tagline}}</p>
                <p class="">{{selectedMovie.overview}}</p>
            </div>
            <p class="text-gray-400">Runtime: {{selectedMovie.runtime}} minutes</p>
            <div class="flex flex-row gap-4">
                @for (genre of selectedMovie.genres; track genre.id) {
                    <p class="rounded-lg bg-gray-700 border border-gray-400 p-2">{{ genre.name }}</p>
                } @empty {
                    <p>No Genres have been set for this film</p>
                }
            </div>
            <div class="grid grid-rows-3 text-base gap-4 w-full">
                <div class="flex flex-row border-y border-gray-500 py-4 bg-gray-800 px-2 gap-4">
                    <h1 class="font-semibold">Directors:</h1>
                    @for (director of directors.slice(0, 6); track director.id) {
                        <p>{{director.name}}</p>
                    } @empty {
                        <p>No Directors have been set for this film</p>
                    }
                </div>
                <div class="flex flex-row border-y border-gray-500 py-4 bg-gray-800 px-2 gap-4">
                    <h1 class="font-semibold">Writers:</h1>
                    @for (writer of writers.slice(0, 6); track writer.id) {
                        <p>{{writer.name}}</p>
                    } @empty {
                        <p>No writers have been set for this film</p>
                    }
                </div>
                <div class="flex flex-row justify-start border-y border-gray-500 py-4 bg-gray-800 px-2 gap-4">
                    <h1 class="font-semibold">Starring:</h1>
                    @for (actor of cast.slice(0, 6); track actor.id) {
                        <p class="text-center">{{actor.name}}</p>
                    } @empty {
                        <p>No Actors have been set for this film</p>
                    }
                </div>
            </div>
            @if (selectedMovie?.production_companies?.length) {
            <div class="flex flex-row justify-center items-center w-full text-base gap-4">
                <p class="font-bold text-gray-400">Production</p>
                @for (company of selectedMovie.production_companies; track company.id) {
                    <p>{{company.name}}</p>
                } @empty {
                    <p>No company associated with this film currently</p>
                }
            </div>
            }
        </div>
    </div>
</div>
}