<div class="bg-black text-white h-screen tracking-tighter">
  <div class="relative h-full w-[70%] mx-auto flex flex-col justify-start items-center gap-4">
    <app-header (searchTriggered)="onSearchChange($event)"  class="flex flex-row justify-between items-center py-5 border-b-2 border-gray-700 w-full h-[10%]"></app-header>
    <app-searched-list *ngIf="hasSearched() && !displayDetails()" (showDetails)="toggleDetails($event)" [movies]="movies" class="w-full h-[80%]"></app-searched-list>
    <app-movie-detail *ngIf="displayDetails() && hasSearched()" class="w-full h-[80%]"></app-movie-detail>
    <div *ngIf="!hasSearched()" class="font-light flex flex-row w-full gap-5 h-[40%]">
      <app-trending class="flex flex-col w-[70%]"></app-trending>
      <app-upcoming class="w-[30%] h-full overflow-auto"></app-upcoming>
    </div>
    <div *ngIf="!hasSearched()" class="font-light w-full h-[40%]">
      <app-top-rated></app-top-rated>
    </div>
    <app-footer class="absolute flex flex-row justify-center items-center border-t-2 border-gray-700 w-full bottom-0 h-[5%] font-light"></app-footer>
  </div>
</div>
