<div class="flex flex-row flex-wrap w-full h-full">
    @for (movie of movies; track movie.id) {
    <div class="w-1/5 h-1/4 p-1">
        <div class="flex flex-row justify-between bg-gray-900 border border-gray-700 rounded gap-1 w-full h-full">
            <div class="flex justify-center items-center flex-shrink-0 w-24 overflow-hidden rounded-l h-full w-[40%]">
                <img [src]="'https://image.tmdb.org/t/p/original' + movie.poster_path" alt="{{ movie.title }}" class="w-full h-full object-cover" />
            </div>
            <div class="flex flex-col justify-between items-end gap-4 p-2">
                <h2 class="text-base font-semibold text-right ">{{ movie.title | slice:0:30 }}{{ movie.title.length > 30 ? '...' : '' }}</h2>
                <div class="flex flex-col items-end gap-2">
                    @if (isReleased(movie.release_date)) {
                    <p class="text-yellow-500 font-light">Released</p>
                    } 
                    @if (!isReleased(movie.release_date)) {
                    <p class="text-red-500 font-light">Coming Soon</p>
                    }
                    <button (click)="onViewMoreClick($index)" class="text-sm bg-gray-800 border border-yellow-700 py-1 px-2 rounded hover:bg-gray-900">View More</button>
                </div>
            </div>
        </div>
    </div>
    } @empty {
        <p>No films available for your search</p>
    }
</div>